.elementor-6398 .elementor-element.elementor-element-6916a1b {
    padding: 40px 40px 40px 40px;
}

#elementor-popup-modal-6398 .dialog-message {
    width: 540px;
    height: auto;
}

#elementor-popup-modal-6398 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-6398 .dialog-close-button {
    display: flex;
    top: -10px;
    background-color: #00C6BE;
    font-size: 20px;
}

#elementor-popup-modal-6398 .dialog-widget-content {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

body:not(.rtl) #elementor-popup-modal-6398 .dialog-close-button {
    right: -10px;
}

body.rtl #elementor-popup-modal-6398 .dialog-close-button {
    left: -10px;
}

#elementor-popup-modal-6398 .dialog-close-button i {
    color: #FFFFFF;
}

#elementor-popup-modal-6398 .dialog-close-button svg {
    fill: #FFFFFF;
}